</main>
<footer class="admin-footer">
    <div class="container">
        <p>&copy; 2024 Blogsphere. All Rights Reserved.</p>
    </div>
</footer>
<script src="/scripts/main.js"></script>
</body>
</html>
